{
   "mongodb": {
      "uri": "${MONGODB_URI}"
   },
   "jwt": {
      "secret": "${JWT_SECRET}",
      "expire": "7d"
   },
   "server": {
      "port": "${PORT}",
      "clientUrl": "${CLIENT_URL}",
      "env": "${NODE_ENV}"
   },
   "google": {
      "clientId": "${GOOGLE_CLIENT_ID}"
   }
}
