# API Configuration
REACT_APP_API_URL=http://localhost:5000/api

# Google OAuth Configuration
REACT_APP_GOOGLE_CLIENT_ID=918356120771-rmbgna7jpaka9qgvfsaaali09qle3dr3.apps.googleusercontent.com

# Socket.io Configuration
REACT_APP_SOCKET_URL=http://localhost:5000
